<tr>
  <th>
    <%= label_tag :select_all %>
    <%= check_box_tag :select_all %>
  </th>
  <th><%= sort_link @q, :name %></th>
  <th><%= sort_link @q, :code %></th>
  <th>Status</th>
  <th></th>
</tr>

<% @currencies.each do |currency| %>
  <tr data-currency_id="<%= currency.id %>">
    <td class="checker"><%= check_box_tag('currency_ids[]', currency.id, false, {'data-currency_id' => currency.id}) unless (currency.collected_by_user?(current_user) || currency.country.blank?) %></td>
    <td><%= currency.name %></td>
    <td><%= currency.code %></td>
    <td class="status"><%= currency.collected_by_user?(current_user) ? 'Collected' : 'Not Collected' %></td>
    <td><%= link_to 'Show', currency %></td>
  </tr>
<% end %>
