<section>
  <h1>Currencies</h1>

  <table>
    <tr>
      <td>
        <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
          <table>
            <tr>
              <th>Collected</th>
              <td><%= current_user.currencies.count %></td>
            </tr><tr>
              <th>Not Collected</th>
              <td><%= current_user.not_collected_currencies.count %></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <%= search_form_for @q do |f| %>
            <%= f.label :name_or_code_or_country_id_cont, 'Name or Country' %>
            <%= f.text_field :name_or_code_or_country_id_cont %>
            <%= f.submit %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
    </tr>

  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td><%= currency.collected_by_user?(current_user) ? 'Collected' : 'Not Collected' %></td>
      <td><%= link_to 'Show', currency %></td>
    </tr>
  <% end %>
  </table>
</section>
