<% if current_user.user_countries.size > 0 %>
  <script type="text/javascript">
    function drawVisualization() {
      // Create and populate the data table.
      var data = google.visualization.arrayToDataTable([
        ['x', 'Currencies Collected'],
        <% currencies_collected = 0 %>
        <% current_user.user_countries.each_with_index do |uc, index| %>
          <% if uc.country.currencies.size > 0 %>
            ['<%= uc.created_at.strftime('%d-%M-%Y') %>', <%= index + 1 %>],
            <% currencies_collected += 1 %>
          <% end %>
        <% end %>
      ]);

      // Create and draw the visualization.
      new google.visualization.LineChart(document.getElementById('visualization')).
          draw(data, {curveType: "none",
            width: 340, height: 200,
            vAxis: {},
            chartArea: {left: 50, top: 30, width: 280, height: 150},
            legend: {position: 'top', textStyle: {color: 'blue', fontSize: 16}}
          }
      );
    }

    <% if currencies_collected > 0%>
      google.setOnLoadCallback(drawVisualization);
    <% end %>
  </script>
<% end %>

<section>
  <h1>Currencies</h1>

  <table>
    <tr>
      <td>
        <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
          <table>
            <tr>
              <th>Collected</th>
              <td><%= current_user.currencies.count %></td>
            </tr><tr>
              <th>Not Collected</th>
              <td><%= current_user.not_collected_currencies.count %></td>
            </tr>
          </table>
        </div>
      </td>
      <td>
        <div id="visualization" style="width: 340px; height: 200px;">No data for currencies collected chart</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <%= search_form_for @q do |f| %>
            <%= f.label :name_or_code_or_country_id_cont, 'Name or Country' %>
            <%= f.text_field :name_or_code_or_country_id_cont %>
            <%= f.submit %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>

  <%= form_tag update_multiple_currencies_path, html: { method: :post }, remote: false do %>
    <%= submit_tag 'Collect Selected Currencies' %>
    <table>
      <tr>
        <th><input type="checkbox" disabled="disabled"/>Select all</th>
        <th><%= sort_link @q, :name %></th>
        <th><%= sort_link @q, :code %></th>
        <th>Status</th>
        <th></th>
      </tr>

      <% @currencies.each do |currency| %>
        <tr>
          <td><%= check_box_tag('currency_ids[]', currency.id) unless (currency.collected_by_user?(current_user) || currency.country.blank?) %></td>
          <td><%= currency.name %></td>
          <td><%= currency.code %></td>
          <td><%= currency.collected_by_user?(current_user) ? 'Collected' : 'Not Collected' %></td>
          <td><%= link_to 'Show', currency %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag 'Collect Selected Currencies' %>
  <% end %>
</section>
