<%= render 'line_chart' %>

<section>
  <h1>Countries</h1>

  <table>
    <tr>
      <td>
        <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
          <%= render 'pie_chart' %>
        </div>
      </td>
      <td>
        <div id="visualization" style="width: 340px; height: 200px;">No data for countries visited chart</div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div>
          <%= search_form_for @q do |f| %>
            <%= f.label :name_or_code_cont, 'Name or Country' %>
            <%= f.text_field :name_or_code_cont %>
            <%= f.submit 'Search', { class: 'search_btn' } %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>

  <br/>

  <%= form_tag visit_multiple_countries_path, html: { method: :post }, class: 'countries_form', remote: true do %>
    <%= submit_tag 'Visit Selected Countries', :class => 'visit_countries' %>
    <table id="countries_table">
      <%= render 'index_table' %>
    </table>
  <% end %>
</section>
